@page "/students/create"
@using StudentView.Models

<h3>CreateStudent</h3>
<br />
<br />
<div class="d-flex justify-content-center flex-column">
    <MudPaper Class="pa-8 w-50">
        <MudForm @ref="@_form"
                 Model="_model"
                 @bind-IsValid="@success"
                 @bind-Errors="@errors">

            <MudTextField @bind-Value="_model.FirstName" 
                          T="string" 
                          Label="FirstName"
                          Variant="Variant.Text"
                          Immediate="true"
                          Required="true" 
                          RequiredError="Firstname is missing!" />

            <MudTextField @bind-Value="_model.LastName" 
                          T="string" 
                          Label="LastName" 
                          Variant="Variant.Text" 
                          Immediate="true"
                          Required="true"
                          RequiredError="Surname is missing!" />

            <MudDatePicker @bind-Value="_model.Birthday" 
                           Variant="Variant.Text" 
                           Date="DateTime.Today" 
                           IsDateDisabledFunc="time => time > DateTime.Today"/>

            <MudNumericField @bind-Value="_model.Classroom" 
                             Label="Classroom" 
                             Min="0" Max="10"
                             HelperText="Classroom should be between 0 and 10"
                             Error="_model.Classroom > 10 || _model.Classroom < 0"
                             ErrorText="Classroom only from 0 to 10!"/>

        </MudForm>
    </MudPaper>
    <br/>
    <MudPaper Class="pa-8 w-50">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="mx-2" Href="/students">Close</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="!success" OnClick="AddStudent">Create</MudButton>
    </MudPaper>
</div>

@code {
    Student _model = new();
    bool success;
    string[] errors = [];

    MudForm _form = new();

    void AddStudent()
    {
        if (!_form.IsValid)
            return;


    }
}
