@page "/students"
@using StudentView.Models
@inject HttpClient client

<h3>Students</h3>

@if (hasError)
{
    <p>Loading failed!!!</p>
}

<ul>
    @foreach (var item in students)
    {
        <li>@item.FirstName</li>
    }
</ul>


@code {
    Student[] students = [];
    bool hasError = false;

    protected override async Task OnInitializedAsync()
    {
        students = await client.GetFromJsonAsync<Student[]>("all") ?? [];
    }
}
