@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <MatAppBar>Servus</MatAppBar>
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
    <footer>
        hallo asdf
    </footer>
</div>
